* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.gif binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.sqlite binary
*.zip binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
